* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

html {
  height          : 100vh;
  width           : 100vw;
  font-size       : 10px;
  overflow-x      : hidden;
  background-color: #fff;
}

body {
  width     : 100%;
  overflow-x: hidden;
  font-family: "Segoe UI", "Ubuntu",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.active {
  border-bottom: .1rem solid dodgerblue;
}